#main-nav {
	background-color: black;
}

header .htop {
	position: relative;
	margin-top: 50px;
	width: 100%;
	text-align: center;
	min-height: auto;
	background-image: url(http://lorempixel.com/1600/700/sports);
	background-size: cover;
	color: white;
	font-size: 1em;
	padding: 3em;
}

section#about {
	margin: 50px auto;
}